* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: lavenderblush;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

.dancing-script-overskrift {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    background-color: white;
    height: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 45px;
}

header>h1 {
    color: black;
}

#image-track>.bilde {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    flex-shrink: 0;
    user-select: none;
    pointer-events: none;

}

#image-track {
    display: flex;
    gap: 4vmin;
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    padding: 40px 4vmin 0 4vmin;
    z-index: 1;
}

#bokser {
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    margin: 50px 20px;
    gap: 20px;
}

.oppskriftene {
    background-color: white;
    padding: 30px;
    border-radius: 52px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.oppskrift-detaljer {
    display: none;
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.oppskrift-detaljer img {
    max-width: 100%;
    height: auto;
    border-radius: 40px;
    padding: 10px;
}

.fa-lemon {
    font-size: 50px;
    color: rgb(248, 248, 179);
}

.fa-cookie {
    font-size: 50px;
    color: rgb(228, 194, 152);
}

.fa-blender {
    font-size: 50px;
    color: lightcoral;
}